<html>
    <head>
        <title>Databases P2</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- <script src="../js/index.js"></script> -->

        <% include ./partials/headercss.ejs%>

        <link href="/css/standard.css" rel="stylesheet">
        <link href="/css/header.css" rel="stylesheet">
        <link href="/css/audiobooks.css" rel="stylesheet">
        <link href="/css/books.css" rel="stylesheet">
        <link href="/css/navigation.css" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
    </head>

    <body>
        <!--Header-->
        <% include ./partials/header.ejs %>
        
        <section id="all-books">
            <h1>Reviews for <%= rows[0].Title %></h1>
            <% rows.forEach(function(row) { %>
                <div class="book-entry">
                    <h3 class="">Authors&#58;&nbsp;&nbsp;&nbsp;&nbsp;<%=row.Authors%></h3>
                    <h3 class="">ISBN&#58;&nbsp;&nbsp;&nbsp;&nbsp;<%=row.ISBN%></h3>
                    <h3 class="">Review By&#58;&nbsp;&nbsp;&nbsp;&nbsp;<%=row.Name%></h3>
                    <h3 class="">Rating&#58;&nbsp;&nbsp;&nbsp;&nbsp;<%=row.Rating%></h3>
                    <p><%=row.Comment%></p>
                </div>
            <% }); %>
        </section>
    </body> 
</html>